.section {
  padding: 72px 0;
  border-radius: 72px;
  overflow: hidden;
}

.container {
  width: 100%;

  @media screen and (max-width: 992px) {
    flex-direction: column;
  }
}

.card {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 32px;
  border-radius: 48px;
  background: var(--b-color-object-bg-neutral-weak-50, #f4f5fa);
  text-align: center;
}

.cardValue {
  font-size: 70px;
  font-weight: 600;
  line-height: 0.96;
  letter-spacing: -2px;
  color: var(--b-color-text-brand-strong-500, #8934f9);
}

.cardLabel {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: var(--b-color-text-brand-strong-500, #8934f9);
}

@media screen and (max-width: 992px) {
  .section {
    padding: 0;
    border-radius: 0;
  }

  .card {
    gap: 8px;
    height: 87px;
    padding: 16px;
    border-radius: 24px;
    justify-content: center;
  }

  .cardValue {
    font-size: 24px;
  }

  .cardLabel {
    font-size: 10px;
    line-height: normal;
  }
}
