.section {
  padding: 72px 0;
  border-radius: 80px;
  overflow: hidden;
}

.content {
  width: 100%;
  gap: 32px;
}

.sectionTitle {
  width: 100%;
  max-width: none;
}

.cardsContainer {
  width: 100%;
  gap: 24px;
}

.card {
  flex: 1;
  padding: 32px;
  border-radius: 48px;
  background: var(--b-color-object-bg-neutral-weak-50, #f4f5fa);
  overflow: hidden;
}

.icon {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  color: var(--b-color-object-bg-brand-strong-500);
}

.cardList {
  list-style: disc;
  padding-left: 27px;
  color: var(--font-color-muted);

  li {
    margin-bottom: 4px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 992px) {
  .section {
    padding: 0;
    border-radius: 0;
  }

  .content {
    gap: 20px;
  }

  .cardsContainer {
    flex-direction: column;
    gap: 8px;
  }

  .card {
    border-radius: 24px;
    padding: 20px;
  }

  .icon {
    width: 40px;
    height: 40px;
  }
}
