.section {
  position: relative;
  overflow: hidden;
  margin-top: 92px;
}

.container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formWrapper {
  position: relative;
  width: 100%;
}

.formBlock {
  position: relative;
  z-index: 1;
  background: var(--b-color-object-bg-neutral-weak-50, #f4f5fa);
  border-radius: 72px;
  padding: 48px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  max-width: 696px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
}

.submitButton {
  font-family: var(--font-family-primary), sans-serif !important;
  border-radius: 999px;
}

@media (max-width: 768px) {
  .formBlock {
    border-radius: 32px;
    padding: 24px;
    gap: 24px;
  }
}
