.root {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}

.cardsContainer {
  display: flex;
  flex-direction: row;
  gap: 24px;
  width: 100%;
}

.card {
  flex: 1;
  padding: 32px;
  border-radius: 72px;
  background: var(--b-color-object-bg-neutral-weak-50, #f4f5fa);
  overflow: hidden;
}

.imageContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  border-radius: 48px;
  overflow: hidden;
}

.productImage { object-fit: cover; }
.imagePlaceholderText { text-align: center; }
.cardTitle { margin: 0; }
.cardDescription { margin: 0; }

.divider {
  width: 100%;
  padding: 4px 0;

  hr {
    border: none;
    border-top: 1px solid var(--b-color-object-bg-neutral-weak-200, #e0e1e6);
    margin: 0;
  }
}

.cardList {
  list-style: disc;
  padding-left: 27px;
  color: var(--font-color-muted);

  li { margin-bottom: 0; }
}

.ctaButton {
  :global(button) { border-radius: 40px; }
}

.ctaLink {
  display: block;
  text-decoration: none;
}
