.wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.aside {
  display: flex;
  flex-direction: column;
  width: 288px;
  flex-shrink: 0;

  @media screen and (max-width: 1100px) {
    width: 240px;
  }
}

.filterPlaceholder {
  background: var(--b-color-object-bg-neutral-weak-50, #f4f5fa);
  border-radius: 24px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.content {
  flex: 1 0 0;
  min-width: 0;
}

.sectionTitle { text-align: left; }
.sectionSubtitle {}

@media screen and (max-width: 768px) {
  .aside { display: none; }
}
