.card {
  position: relative;
  border-radius: 72px;
  overflow: hidden;
  height: 598px;
  width: 100%;
  background: url('/images/redesign/about/hero-person-banner.webp') right center / cover no-repeat;
  display: flex;
  align-items: center;
  padding-block: 72px;
  padding-inline: var(--spacing-page-x);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  max-width: var(--layout-content-max);
  margin-inline: auto;
  z-index: 1;
}

.textGroup {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: #fff;
}

.title { max-width: 908px; }

.subtitle {
  max-width: 908px;

  .bold {
    font-weight: 700;
    font-size: 24px;
  }
}

.heroButton {
  font-family: var(--font-family-primary), sans-serif !important;
  border-radius: 999px;
}

@media (max-width: 992px) {
  .card {
    border-radius: 32px;
    height: auto;
    padding: 32px 16px;
    align-items: flex-start;
    background-image: url('/images/redesign/about/hero-person-mobile-banner.webp');
    background-position: center bottom;
    background-size: cover;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 680px;
  }

  .subtitle .bold {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
  }

  .heroButton {
    font-size: 14px;
    width: 100%;
  }
}
